body {
	background-color:#ffffff;
	color:#000000;

	font-size: 12px;
	
	padding: 0px;
}
.clear{clear:both;}
* {
	margin: 0px;
	padding: 0px;
}
#container {
	
	text-align: left;
	width: 717px;
}
#container #tabs {
 background-color:#199797;

margin: 0px 10px 50px 0 ;
width: 1267px;
text-align: center ;
height:30px;
}
#container #tabs ul li a{
	text-decoration:none;
	color:black;
}
#container #tabs ul {
	 

	margin: 0px 0px 0px 100px;
	padding: 3px 2px 14px 10px;
	overflow: hidden;	
	width: 1000px;
	height:13px;
}
#container #tabs ul li {
	list-style-type:none;
	float: left;	
	margin: 0px; 
	padding: 5px 0px 2px 0px;
	width: 110px;
	text-decoration:none;
}

#container #tabs ul li span{
 font-size:13px;
}
#container #tabs ul li:hover{
 background-color:#00B85C;
padding: 5px 0px 9px 0px;
 color:black;
}
#container #tabs ul li.selected{
 background-color:#ffffff;
 padding: 5px 0px 20px 0px;
 color:black;
}


a{
	font-size:12px;
}
p{
	margin: 15px 0px;
}
body #container #header #logo_w1{
	margin: 17px 100px;
	padding: 0px 0px 0px 0px;
	float:left;

}
#header {
	
	background:url(../images/pcbwin.jpg) repeat center center; 
	background-color:#fff;	
	padding: 0;	
	
	width: 1267px;
	margin: 0px ;

	height:150px;
	position:center;
}
body #container #header #logo_w2{

	float: left;
	margin:10px 10px 0px 0px;
}
body #container #header #logo_w2 span{
	color:white;
	height:19px;
	font-size:30px;
	text-decoration:none;

	padding:0px 0px 0px 0px;
}

/********************** Header ***************************/

#header ul{
	background-color:#85a157;
	width:711px;
	border: 3px solid #FFFFFF;
	display:block;
	top:255px;
	position:absolute;
	margin: 0px 0px 0px 0px;
	height:22px;
	padding:5px 0px 0px 0px;
	text-align:center;
}
#header li{
	display:inline;	
}
#header ul a{
	text-decoration:none;
	color:#FFFFFF;
	margin: 0px 15px;
}
#header ul a:hover{
	text-decoration:underline;
	color:#28556b;
}

#header_text {
	top:90px;
	left:43px;
	width:230px;
	position:absolute;
}
#header_text p{
	font-size: 18px;
	color:#FFFFFF;
}
#header_text a{color:#28556b;}
#header_text a:hover{color:#c77e0c;}
/********************** Content ***************************/
#container #body #td {

	margin: 0px 0px 0px 210px;
	list-style-type:none;
	width:800px;

}
#container #body #td tr.a{
	background-color:#00A37A;
	height:100px;
}
#container #body #td tr.s{
	background-color:#00CC66;
	height:100px;
}


#container #body  li sr {
	font-size:30px;
	color:black;
}

/********************** Footer ***************************/
#footerline {
clear:both;
background-image:url(images/footer_bg.gif);
font-size:1px;
height:10px;
}
#footer {
	width:717px;
	text-align:center;
	padding: 20px 0px;
margin: 0px auto;
}
